extends _templates/layout.pug

block prepend title
    title SW SIMS safety - domovská stránka

block append styles
    link(rel="stylesheet" type="text/css" href="css/homepage.css")

block header
    header 
        nav
            a(href="./index.html")
                img.logo(src="./img/logo.png")
            a(href="#products") Produkty
            a(href="#about") O nás
            a(href="#contact") Kontakt

block content
    main

        // SIMS

        h2#products  Produkty

        p Základem našeho software je nepřetržitý příjem dat ze zabezpečovacích zařízení…

        products

            product
                img(src="img/server.svg" alt="Ikona serveru")
                h3 
                    a(href="eniterm.html") Eniterm
                p.
                    Disponuje ovladači všech nejčastěji používaných bezpečnostních systémů, komunikátorů a lokátorů. Na základě toho jsme schopni přijímat data ze zařízení téměř všech výrobců. 
                a(href="eniterm.html")

        p …a zobrazení těchto dat v reálném case pomocí aplikací SIMS.

        products

            product
                img(src="img/server.svg" alt="Ikona serveru")
                h3 
                    a(href="standard.html") SIMS Desktop
                p.
                    Komplexní systém pro bezpečnostní agentury připojující na PCO (pult centrální ochrany) libovolný počet střežených objektů.
                a(href="standard.html")

            product
                img(src="img/web.svg" alt="Ikona počítače")
                h3 
                    a(href="web.html") SIMS Web
                p.
                    Jednoduchá intuitivní webová aplikace vhodná například pro správce budov, vrátnice, výjezdové služby nebo pro koncové zákazníky.
                a(href="web.html")

            product
                img(src="img/mobile.svg" alt="Ikona telefonu")
                h3 
                    a(href="mobile.html") SIMS Mobile
                p.
                    Mobilní aplikace vytvořena v moderní technologii React Native s využitím pro koncové zákazníky, výjezdové služby, technické a manažerské pracovníky bezpečnostních agentur a pro ovládání výstupů M2M Easy 2 bezpečnostních komunikátorů. 
                a(href="mobile.html")

        product-comparison
            //p Porovnejte funkčnost všech edicí a zjistěte, která je pro vás ta pravá.
            a(href="comparison.html") Porovnat

        cloud-vs-local
            h4 Cloud vs lokální úložiště
            p.p-bg.
                Našim zákazníkům nabízíme možnost provozovat SIMS spřipojením na náš cloudový server (SIMSWEB.CZ) nebo lokálně na svém serveru.
                Stejně tak služby (produktu Eniterm) můžou být instalovány na našem komunikačním serveru (SIMSWEB.EU) nebo na serveru zákazníka.
            p.
                Výhodou provozu SIMS na našem cloudovém serveru je, že zákazník si nemusí pořizovat vlastní server s licencí Microsoft
                SQL Server a nemusí se starat o správu a údržbu databáze. Na cloud serveru má zákazník také k dispozici webovou aplikaci (produkt SIMS Web).
            p.
                Ideální variantou je mít jeden server jako hlavní a druhý používat jako záložní a zprávy zapisovat na oba servery současně.
                V případě výpadku jednoho ze serverů není zákazník nějak omezen a pracuje nerušeně dál na druhém serveru.


        // About

        h2#about O nás

        p.company-intro Jsme česká firma, která se od roku 1991 zabývá vývojem komunikačních služeb a informačních systémů pro monitorování elektronických bezpečnostních zařízení. 

        // Contact

        h2#contact Kontakt

        boxes
            box
                p SW SIMS safety, s.r.o.
            box 
                p 
                    b IČO
                    span 28648803
            box
                p 
                    b Schránka
                    span zw9x6cy
            box
                p 
                    b Adresa
                    address
                        span Na Výsluní 477
                        span 783 61 Hlubočky
            box
                p 
                    b E-mail
                    a(href="mailto:info@sims.cz") info@sims.cz
            box
                p 
                    b Telefon
                    a(href="tel:+420602748687") +420&nbsp;602&nbsp;748&nbsp;687

        footer 
            p 
                a(href="principles.html") Principles of personal data processing
            p 
                span#copyright 
                span &ensp;© SW SIMS safety s.r.o
                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>