extends _templates/layout.pug

block prepend title
    title SW SIMS safety

block content
    main
        img.logo(src="./img/logo-with-text.svg")
        //h1 SW SIMS safety, s.r.o.
        .boxes
            .box 
                p 
                    b IČ0
                    span 28648803
            .box
                p 
                    b Schránka
                    span zw9x6cy
            .box
                p 
                    b Adresa
                    address
                        span Na Výsluní 477
                        span 783 61 Hlubočky
            .box
                p 
                    b E-mail
                    a(href="mailto: info@sims.cz") info@sims.cz