extends _templates/layout.pug

block prepend title
    title SW SIMS safety

block content
    main
        img.logo(src="./img/logo.svg")
        h1 SW SIMS safety
        .box 
            p 
                b IČ0
                span 28648803
        .box.box--secondary
            p 
                b Schránka
                span zw9x6cy