extends _templates/layout.pug

block prepend title
    title SW SIMS safety

block content
    main
        img.logo(src="./img/logo-with-text.svg")
        //h1 SW SIMS safety, s.r.o.
        p Na nov칳ch str치nk치ch aktu치ln캩 pracujeme 游뚾 游녦 
        br
        .boxes
            .box 
                p 
                    b I캛O
                    span 28648803
            .box
                p 
                    b Schr치nka
                    span zw9x6cy
            .box
                p 
                    b Adresa
                    address
                        span Na V칳slun칤 477
                        span 783 61 Hlubo캜ky
            .box
                p 
                    b E-mail
                    a(href="mailto:info@sims.cz") info@sims.cz
            .box
                p 
                    b Telefon
                    a(href="tel:+420602748687") +420&nbsp;602&nbsp;748&nbsp;687
            .box
                p 
                    b
                        a(href="principles.html") Principles of personal data processing