extends _templates/edition.pug

block variables

    - var editionName = "SIMS Mobile"
    - var editionImg = "mockup-mobile.png"
    - var editionDesc = "Mobilní aplikace monitorující elektronická bezpečnostní zařízení s možností ovládat výstupy M2M Easy 2 bezpečnostních komunikátorů ze svého mobilního telefonu nebo tabletu. Tento produkt je ideální variantou pro koncové zákazníky jako jsou majitelé střežených objektů, kteří chtějí mít svoje objekty pod stálou kontrolou. Nezávisle na tom, jestli mají své objekty hlídané bezpečnostní agenturou anebo si je pomocí naší aplikace hlídají sami."

block content 
    h2 Funkce
    ul 
        li Zavádění objektů do systému
        li Příjem zpráv
        li Historie a filtr zpráv
        li Obsluhy poplachových zpráv
        li Kontakty
        li Číselné kódy
        li.partially Uživatelé
        li.partially Střežené objekty (koncová zařízení)
        li.partially Historie polohy

    dl 
        dt ●
        dd Obsahuje 
        dt ○
        dd Obsahuje částečně

    a(href="comparison.html") Porovnejte s ostatními edicemi SIMS