html {
  scroll-padding-block-start: 8rem;
}
.company-intro {
  max-inline-size: 45ch;
  line-height: 1.7;
  word-spacing: 0.15ch;
}
h2 {
  margin-block-start: 3em;
  margin-block-end: 1rem;
  line-height: 1;
}
h2:first-of-type {
  margin-block-start: 0;
}
h2 ~ p {
  font-size: var(--font-size-l);
  font-weight: var(--text-weight);
  max-inline-size: 55ch;
  line-height: 1.7;
  margin-block-end: 2em;
}
products {
  display: grid;
  gap: clamp(1rem, 4vw, 1.5rem);
}
@media screen and (min-width: 1100px) {
  products {
    grid-template-columns: repeat(3, 1fr);
  }
}
product {
  --box-bg: var(--primary--10);
  --box-border-color: var(--primary);
  --box-shadow-color-1: var(--primary--20);
  --box-shadow-color-2: var(--primary--10);
  border-width: 0.2em;
  border-style: solid;
  border-color: var(--box-border-color);
  padding: clamp(1rem, 10vw, 2rem);
  border-radius: 2em;
  background-color: var(--box-bg);
  box-shadow: 0 1rem 2rem -0.5rem var(--box-shadow-color-1), 0 2rem 4rem -1.5rem var(--box-shadow-color-2);
}
product:nth-of-type(1) {
  --box-bg: var(--red--10);
  --box-border-color: var(--red);
  --box-shadow-color-1: var(--red--20);
  --box-shadow-color-2: var(--red--10);
}
product:nth-of-type(2) {
  --box-bg: var(--amber--10);
  --box-border-color: var(--amber);
  --box-shadow-color-1: var(--amber--20);
  --box-shadow-color-2: var(--amber--10);
}
product:nth-of-type(3) {
  --box-bg: var(--green--10);
  --box-border-color: var(--green);
  --box-shadow-color-1: var(--green--20);
  --box-shadow-color-2: var(--green--10);
}
product h3 {
  margin: 0;
}
product p {
  line-height: 1.7;
  letter-spacing: 0.04ch;
  margin-block-end: 0;
}
product-comparison {
  display: grid;
  grid-template-columns: 0.5fr 1fr auto 1fr 0.5fr;
  gap: 2rem;
  align-items: center;
  line-height: 1;
  margin-block: clamp(3rem, 10vw, 7rem);
  font-weight: var(--heading-weight);
}
product-comparison::before,
product-comparison::after {
  content: "";
  display: inline-block;
  border-color: var(--divider);
  border-style: solid;
  border-width: 0;
  border-block-end-width: 2px;
  transform: translateY(-2rem);
  height: 4rem;
}
product-comparison::before {
  border-inline-start-width: 2px;
  border-end-start-radius: 2em;
  grid-column-start: 2;
}
product-comparison::after {
  border-inline-end-width: 2px;
  border-end-end-radius: 2em;
}
product-comparison a {
  font-family: var(--font-stack-headings);
  font-size: var(--font-size-l);
  font-weight: var(--heading-weight);
  letter-spacing: -0.015ch;
  font-feature-settings: var(--heading-features);
}
product-comparison a:not(:hover) {
  text-decoration: none;
}
product-comparison a:hover {
  color: var(--text-primary-color);
}
cloud-vs-local {
  --cloud-padding: clamp(1rem, 10vw, 3rem);
  display: grid;
  gap: 1rem;
  margin-block: calc(var(--cloud-padding) * 1);
  inline-size: fit-content;
  margin-inline: auto;
  padding: clamp(1rem, 10vw, 3rem);
  background-color: var(--blue--10);
  border-radius: 2em;
}
cloud-vs-local > * {
  margin: 0;
  font-size: var(--font-size-s);
  font-weight: var(--text-weight);
}
cloud-vs-local h4 {
  inline-size: fit-content;
  font-family: var(--font-stack-headings);
  font-size: var(--font-size-s);
  font-weight: var(--heading-weight);
  letter-spacing: -0.01ch;
  font-feature-settings: var(--heading-features);
}
cloud-vs-local p {
  line-height: 1.5;
  color: var(--text-secondary-color);
  max-inline-size: 40ch;
}
@media screen and (min-width: 140ch) {
  cloud-vs-local {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  cloud-vs-local h4 {
    white-space: nowrap;
  }
}
boxes {
  display: grid;
  inline-size: fit-content;
  gap: clamp(1rem, 3vw, 2rem);
  margin-block-start: clamp(1rem, 3vw, 3rem);
}
box {
  display: inline-flex;
  margin: 0;
  flex-direction: column;
  gap: 0.2rem;
}
box:first-child p {
  font-size: var(--font-size-xl);
  font-weight: var(--text-weight);
}
box p,
box address {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
box p span,
box address span,
box p a,
box address a {
  font-size: var(--font-size-base);
  font-weight: var(--text-weight);
}
box address {
  gap: 0.2rem;
  font-style: normal;
}
box b {
  display: block;
}
box a {
  color: var(--text-primary-color) !important;
}

/*# sourceMappingURL=homepage.css.map */
