html {
  color: var(--text-primary-color);
  background-color: var(--site-bg);
  font-family: var(--font-stack);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
  color-scheme: dark light;
  min-inline-size: 320px;
  //word-spacing: -0.1em;
  letter-spacing: 0.01em;
  font-size: 18px;
}

body {
  .font-base();
  background-color: inherit;
}

:is(*, *::before, *::after) {
  box-sizing: inherit;
}

ul {
    //--list-marker: "— ";
    //list-style: disc inside;
    padding-inline-start: 1ch;
    
    // li::before {
    //   content: var(--list-marker);
    // }
}

